{% extends 'base.html' %} 
{% load static %} 
{% block head %}
<link rel="stylesheet" href="{% static 'css/animals/animal-detail.css' %}" />
{% endblock %} 
{% block content %}
<section class="animal-container">
  <div class="animal-img">
    <img id="animal-photo" src="{% static 'images/lion.jpg' %}" alt="A lion" />
  </div>
  <div class="animal-details">
    <h1>{{ animal.name }}</h1>
    {% if animal.age > 0 %}
      <h2>A {{ animal.age }} year old {{ animal.species }}</h2>
    {% else %}
      <h2>A {{ animal.species }}.</h2>
    {% endif %}
    <p>{{ animal.description }}</p>
    <div class="animal-actions">
      <a href="{% url 'animal-update' animal.id %}" class="btn warn">Edit</a>
      <a href="{% url 'animal-delete' animal.id %}" class="btn danger">Delete</a>
    </div>
  </div>

  <div class="conservation-donations-container">
    <section class="conservation">
      <div class="subsection-title">
        <h2>Conservation Status</h2>
        <img
          src="{% static 'images/elephant_icon.png' %}"
          alt="an icon of an elephant"
        />
        <img src="{% static 'images/leopard_icon.png' %}" alt="An icon of a leopard" />
        <img
          src="{% static 'images/crocodile_icon.png' %}"
          alt="An icon of a crocodile"
        />
      </div>

      <h3>Add Conservation Status</h3>
      <form
          action="{% url 'add-status' animal.id %}"
          method="post"
          class="subsection-content"
          autocomplete="off"
        >
        {% csrf_token %} 
        {{ conservation_form.as_p }}
        <button type="submit" class="btn submit">Add Status</button>
      </form>

      <h3>Conservation Status</h3>
{% if animal.conservation_set.all.count %}
  <table>
    <thead>
      <tr>
        <th>Date</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      {% for conservation in animal.conservation_set.all %}
      <tr>
        <td>{{conservation.date}}</td>
        <td>{{conservation.get_status_display}}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
{% else %}
  <div class="subsection-content">
    <p>⚠️ {{animal.name}} has not been updated!</p>
  </div>
{% endif %}
  
  {% endblock %}